<%= form_with(model: listing) do |form| %>
  <% if listing.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :bed, style: "display: block" %>
    <%= form.text_field :bed %>
  </div>

  <div>
    <%= form.label :original_price, style: "display: block" %>
    <%= form.text_field :original_price %>
  </div>

  <div>
    <%= form.label :discounted_price, style: "display: block" %>
    <%= form.text_field :discounted_price %>
  </div>

  <div>
    <%= form.label :price_per_night, style: "display: block" %>
    <%= form.text_field :price_per_night %>
  </div>

  <div>
    <%= form.label :zip_code, style: "display: block" %>
    <%= form.text_area :zip_code %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <%= form.label :posted, style: "display: block" %>
    <%= form.date_field :posted %>
  </div>

  <div>
    <%= form.label :sold_out, style: "display: block" %>
    <%= form.date_field :sold_out %>
  </div>

  <div>
    <%= form.label :review, style: "display: block" %>
    <%= form.text_field :review %>
  </div>

  <div>
    <%= form.label :total_reviews, style: "display: block" %>
    <%= form.number_field :total_reviews %>
  </div>

  <div>
    <%= form.label :area_id_id, style: "display: block" %>
    <%= form.text_field :area_id_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
