<div id="<%= dom_id listing %>">
  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Bed:</strong>
    <%= listing.bed %>
  </p>

  <p>
    <strong>Original price:</strong>
    <%= listing.original_price %>
  </p>

  <p>
    <strong>Discounted price:</strong>
    <%= listing.discounted_price %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= listing.price_per_night %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= listing.zip_code %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= listing.url %>
  </p>

  <p>
    <strong>Posted:</strong>
    <%= listing.posted %>
  </p>

  <p>
    <strong>Sold out:</strong>
    <%= listing.sold_out %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= listing.review %>
  </p>

  <p>
    <strong>Total reviews:</strong>
    <%= listing.total_reviews %>
  </p>

  <p>
    <strong>Area:</strong>
    <%= listing.area_id_id %>
  </p>

</div>
