<div id="<%= dom_id listing %>">
  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Beds:</strong>
    <%= listing.beds %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= image_tag listing.pictures.first[1], width: 400 %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= listing.price_per_night %>
  </p>

  <p>
  <strong>Host Fee:</strong>
  <%= listing.host_fee %>
  </p>

  <p>
    <strong>Platform Fee:</strong>
    <%= listing.platform_fee %>
  </p>

  <p>
    <strong>Total Price:</strong>
    <%= listing.total_price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= listing.url %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= listing.review %>
  </p>

  <p>
    <strong>Total reviews:</strong>
    <%= listing.total_reviews %>
  </p>

  <p>
    <strong>City:</strong>
    <%= listing.city %>
  </p>

</div>
