<div id="<%= dom_id listing %>">
  <p>
    <strong>Name:</strong>
    <%= listing.name %>
  </p>

  <p>
    <strong>Beds:</strong>
    <%= listing.beds %>
  </p>

  <p>
    <strong>Original price:</strong>
    <%= listing.price_per_night %>
  </p>

  <p>
    <strong>Discounted price:</strong>
    <%= listing.discounted_price %>
  </p>

  <p>
    <strong>Price per night:</strong>
    <%= listing.total_price %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= listing.url %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= listing.review %>
  </p>

  <p>
    <strong>Total reviews:</strong>
    <%= listing.total_reviews %>
  </p>

  <p>
    <strong>City:</strong>
    <%= listing.city %>
  </p>

</div>
