<%= form_with(model: area) do |form| %>
  <% if area.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
        <% area.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div>
    <%= form.label :airbnb_place_id, style: "display: block" %>
    <%= form.text_field :airbnb_place_id %>
  </div>
 
  <div>
    <%= form.label :vrbo_place_id, style: "display: block" %>
    <%= form.text_field :vrbo_place_id %>
  </div>

  <div>
    <%= form.label :state_id, style: "display: block" %>
    <%= form.text_field :state_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
