<%= form_with url: "/main/search", method: :post do |f| %>
    <div class="form-group">
      <%= f.label :city_id, "Where are you travelling to:" %>
      <%= f.select :city_id do %>
        <% @areas.each do |area| %>
          <%= content_tag :option, area.city, value: area.city %>
        <% end %>
      <% end %>
    </div>
    <div class="form-group">
      <%= f.label :check_in, "When do you check in:" %>
      <%= f.date_field :check_in, 
          value: Date.today.end_of_week, 
          min: Date.today.end_of_week, 
          max: Date.today.end_of_week + 7.days, 
          class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :check_out, "When do you check out:" %>
        <%= f.date_field :check_out, 
            value: Date.today.end_of_week + 1, 
            min: Date.today.end_of_week, 
            max: Date.today.end_of_week + 7.days, 
            class: "form-control" %>
      </div>
    <div class="form-group">
      <%= f.label :adult_guests, "Who are you going with:" %>
      <%= f.number_field :adult_guests, value: 2, disabled: true %> Adults
      <%= f.hidden_field :adult_guests, value: 2 %>

    </div>
    <div class="form-group">
      <%= f.label :purpose_for_travel, "Purpose for travel?:" %>
      <%= f.text_field :purpose_for_travel, placeholder: "Family Vaction" %>
    </div>
    <%= f.submit "Find deals" %>
  <% end %>