<div class="form-group">
  <%= f.label :city_id, "Where are you travelling to:" %>
  <%= f.select :city_id do %>
    <% @areas.each do |area| %>
      <%= content_tag :option, area.city, value: area.city %>
    <% end %>
  <% end %>
</div>
<div class="form-group">
  <%= f.label :check_in, "Check in:" %>
  <%= f.date_field :check_in, 
      value: Date.today.end_of_week - 1.days, 
      min: Date.today.end_of_week - 1.days,
      disabled: true,
      class: "form-control" %>
  <%= f.hidden_field :check_in, value: Date.today.end_of_week - 1.days %>
</div>
<div class="form-group">
  <%= f.label :check_out, "Check out:" %>
    <%= f.date_field :check_out, 
        value: Date.today.end_of_week, 
        min: Date.today.end_of_week, 
        disabled: true,
        class: "form-control" %>
    <%= f.hidden_field :check_out, value: Date.today.end_of_week%> 
</div>
<div class="form-group">
  <%= f.label :adult_guests, "Who are you going with:" %>
  <%= f.number_field :adult_guests, value: 2, disabled: true %> Adults
  <%= f.hidden_field :adult_guests, value: 2 %>

</div>
<div class="form-group">
  <%= f.label :purpose_for_travel, "Purpose for travel?:" %>
  <%= f.text_field :purpose_for_travel, placeholder: "Family Vaction" %>
</div>
<%= f.submit "Find deals" %>
